/*CSS (Dark Mode)*/
:root {
	/*Colors*/
	--ERPLLightBlue: rgb(2, 85, 154); 
	--ERPLDarkBlue: rgb(0, 0, 127); 
	--ERPLPurple: rgb(57, 29, 134); 
}
* {
	box-sizing: border-box;
}
body {
    color: var(--ERPLLightBlue);
    background-color:black;
    font-family: 'IBM Plex Mono', monospace;
	text-rendering: optimizeLegibility;
	min-width: 100vw;
	min-height: 100vh;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	/* ensures that older browsers will display HTML5 elements correctly */
}
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	/* sets hyphenation by default on paragraphs */
}
textarea { 
	resize: vertical;
	/* changes textarea resizing from "both" (UA default) to vertical only */
}
img { 
	border: none;
	max-width: 100%;
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
}
.NavBar {
	height: 10vh;
	width: 100vw;
}
.Splash {
	height: 80vh;
}