/*CSS (Dark Mode)*/
:root {
	/*Colors*/
	--ERPLLightBlue: rgb(2, 85, 154); 
	--ERPLDarkBlue: rgb(0, 0, 127); 
	--ERPLPurple: rgb(57, 29, 134); 
}
body {
    color: var(--ERPLLightBlue);
    background-color:black;
    font-family: 'IBM Plex Mono', monospace;
}