/*CSS (Light Mode)*/
:root {
	/*Colors*/
	--ERPLLightBlue: rgb(2, 85, 154); 
	--ERPLDarkBlue: rgb(0, 0, 127); 
	--ERPLPurple: rgb(57, 29, 134); 
}
* {
	box-sizing: border-box;
}
body {
    color: white;
    background-color: var(--ERPLLightBlue);
    font-family: 'IBM Plex Mono', monospace;
	text-rendering: optimizeLegibility;
	width: auto;
	min-height: 100%;
	overflow-x: hidden;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	/* ensures that older browsers will display HTML5 elements correctly */
}
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	/* sets hyphenation by default on paragraphs */
}
span.line {
	display: inline-block;
}
textarea { 
	resize: vertical;
	/* changes textarea resizing from "both" (UA default) to vertical only */
}
img { 
	border: none;
	max-width: 100%;
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
}
.NavBar {
	position: fixed;
	display:flex;
	top: 0;
	left: 0;
	min-height: 10%;
	min-width: 100%;
	max-width: 100%;
	background-color: var(--ERPLLightBlue);
}
.NavLogo {
	float: left;
	color: white;
	min-width: 30%;
	padding-left: 2%;
}
.NavMenu {
	min-width: 60%;
	float: right;
	text-align: right;
	color: black;
	max-height: 80%;
	overflow-y: scroll;
}
.NavBlock {
	display: none;
	background-color: var(--ERPLLightBlue);
	color: white;
	padding-right: 2%;
}
.NavDropdown {
	display: none;
	text-align: left;
}
.Splash {
	/*this is broken rn: black stripe on left*/
	height: 80%;
	min-width: 100%;
	padding-top: 40%;
	text-align: center;
	top: 0;
	left: 0;
	color:white;
	background-image: url("../assets/duotone-page-fr.png");
	background-position: center;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;
}